<template name="NavBar">

	<div class="navbar-fixed">
		<nav class="blue-grey darken-4 default-gutter">
			<div class="nav-wrapper">
			
			  <a href="/" class="brand-logo">{{navTitle}}</a>

			  <a href="#" data-activates="main-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

			  <ul class="right hide-on-med-and-down">
			    <li><a href="/workouts">Workouts</a></li>
			    <li><a href="/lifts">Lifts</a></li>
			    <li><a href="/insight">Insight</a></li>
			  </ul>

			  <ul class="side-nav" id="main-menu">
			    <li><a href="/">Home</a></li>
			    <li><a href="/workouts">Workouts</a></li>
			    <li><a href="/lifts">Lifts</a></li>
			    <li><a href="/insight">Insight</a></li>
			  </ul>
			  
			</div>
		</nav>
	</div>

</template>