.completed {
	display: inline-block;
	font-size: 75%;
	float: right;
}
.app-list {
	.collapsible-header {
		height: auto;
		line-height: normal;
		padding: 5px $base-unit;
	}
	.collapsible-body {
		p {
			padding: 0;
		}
	}
	.delete {
		padding: 0px $base-unit;
	}
}