<template name="listExerciseItem">

    <li>
      	<div class="collapsible-header">
	        <strong>
		        {{#if name }}
		        	{{name}}
		        {{/if}} 
		        {{#if liftType}}
		        	{{liftType}}
		        {{/if}}
		        {{#if girl}}
		        	Benchmark: {{girl}} {{#if test this.girl}}!!!!{{/if}}
		        {{/if}}

		        {{_id}}
			</strong>

				{{#if date}}
					<span class="completed">
						Completed: {{prettifyDate date}} ({{prettifyDateAgo date}})
					</span>
				{{/if}}
		</div>
		<div class="collapsible-body grey lighten-3">
			<!-- if WOD.. -->
			{{#if warmup}}
				<strong>Warm Up:</strong>
				<p>{{{linebreak warmup}}}</p>
				<br/>
			{{/if}}

			{{#if strength}}
				<strong>Strength:</strong>
				<p>{{{linebreak strength}}}</p>
				<br/>
			{{/if}}

			{{#if conditioning}}
				<strong>Conditioning:</strong>
				<p>{{{linebreak conditioning}}}</p>
				<br/>
			{{/if}}

			{{#if goat}}
				<strong>Goat:</strong>
				<p>{{{linebreak goat}}}</p>
				<br/>
			{{/if}}

			<!-- if lift.. -->
			{{#if weight}}
				<strong>Weight:</strong>
				<span>{{weight}}#</span>
				<br/>
			{{/if}}

			{{#if repScheme}}
				<strong>Rep Scheme:</strong>
				<p>{{repScheme}}</p>
				<br/>
			{{/if}}

			{{#if notes}}
				<strong>Notes:</strong>
				<p>{{{linebreak notes}}}</p>
				<br/>
			{{/if}}

			<hr/>


			<a class="waves-effect waves-red btn-flat modal-trigger delete" href="#delete">Delete</a>
			<a class="waves-effect waves-green btn-flat modal-trigger edit left" href="#edit">Edit</a>
		</div>
    </li>

</template>	