<template name="modalEdit">

	<div id="edit" class="modal">
		<div class="modal-content">
		  <h4 class="default-gutter"> {{fuck}}: {{exerciseID}}</h4>

		  <!--
			
			use modalEdit.helper to pull this item's unique ID.
			change autoform type from insert to update
			remove required fields
			make "agree" save button.

		  -->
		 	
		  {{> quickForm collection="lifts" doc=exerciseID id="editEntry" type="update"}}

		  <!--{{exerciseID}} -->

		  <hr/>

		  <!-- {{#autoForm id="editEntry" collection="lifts" type="insert"}}



			{{> afQuickField name="date" value=timestamp}}
			{{> afQuickField name="liftType" options="allowed" label="Lift"}}
			{{> afQuickField name="weight"}}
			{{> afQuickField name="repScheme"}}
			{{> afQuickField name="notes" rows=6 class="materialize-textarea"}}
			{{> afQuickField name="result" rows=6 class="materialize-textarea"}}
			{{> afQuickField name="completionDate"}}
		    <button id="save-lift" type="submit" class="modal-action modal-close waves-effect waves-green btn">DONE</button>
		  {{/autoForm}} -->


		</div>
		<!--
		<div class="modal-footer">
		  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
		</div>
		-->
	</div>

</template>