<template name="addWod">

	{{> NavBar}}

	{{#autoForm
		id="addWod"
		collection="workouts"
		type="insert"
	}}
		
<!-- 		<div class="radio-group" >
			
			<input class="" name="category" type="radio" id="AMRAP" value="AMRAP" data-schema-key="category"/>
			<label for="AMRAP">AMRAP</label>
		
			<input class="" name="category" type="radio" id="EMOM" value="EMOM" data-schema-key="category"/>
			<label for="EMOM">EMOM</label>

			<input class="" name="category" type="radio" id="RFT" value="RFT" data-schema-key="category"/>
			<label for="RFT">RFT</label>
		
			<input class="" name="category" type="radio" id="GOAT" value="GOAT" data-schema-key="category"/>
			<label for="GOAT">GOAT</label>
		</div> -->
		
		{{> afQuickField name="date" value=timestamp}}
		{{> afQuickField name="name" class="validate" value=today}}
		{{> afQuickField name="warmup" rows=6 class="materialize-textarea validate"}}
		{{> afQuickField name="strength" rows=6 class="materialize-textarea validate"}}
		{{> afQuickField name="conditioning" rows=6 class="materialize-textarea validate"}}
		{{> afQuickField name="goat" rows=6 class="materialize-textarea validate"}}
		{{> afQuickField name="notes" rows=6 class="materialize-textarea"}}

		
		<button id="save-wod" type="submit" class="btn">SAVE</button>
	{{/autoForm}}

</template>