<template name="Index">

<strong class="default-gutter">Daily Wods</strong>
{{> listExercise
    exercise=wods
}}

<strong class="default-gutter">Benchmarks/Lifts</strong>
{{> listExercise
    exercise=both
}}


  <br/>

  <!--
  <div class="default-gutter">
    <strong>To be added:</strong>
    <ul>
      <li>add edit record functionality</li>
      <li>Add USER functionality</li>
      <li>add lift/wod or chose from database</li>
      <li>Insight page</li>
      <br/>
      <strong>Burner</strong>
      <li>Return Collection (Model) name from record</li>
    </ul>
  </div>
  -->

</template>
