<template name="Index">
	<ul class="combined-list app-list collapsible" data-collapsible="accordion">
	{{#each both}}
	  	<li>
			<div class="collapsible-header">
				<strong>
				{{#if category}}
					{{category}}:
				{{/if}}
				{{name}}</strong>
				<span class="completed">{{prettifyDate completionDate}}</span>
			</div>
			<div class="collapsible-body grey lighten-3">
				<p>{{{linebreak notes}}}{{{linebreak workout}}}</p>
			</div>
		</li>
	{{/each}}
	</ul>

	<h4>To be added:</h4>
	<ul>
		<li>add lift/wod or chose from database</li>
		<li>move page title to navBar - dynamic based on page</li>
	</ul>
	


</template>