<head>
  <title>Coach!</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no'>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <link rel='apple-touch-icon' href='/images/icon57.png' />
</head>

<body>
  <div id="main-btn" class="fixed-action-btn">
    <a class="btn-floating btn-small red">
      <i class="large mdi-content-add"></i>
    </a>
    <ul>
      <li><a href="/add-lift" class="btn-floating btn-small waves-effect waves-light light-blue">L</a></li>
      <li><a href="/add-workouts" class="btn-floating btn-small waves-effect waves-light blue">W</a></li>
    </ul>
  </div>
</body>
